server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlserver://54.39.102.101:1433;databaseName=vacaciones;encrypt=false;trustServerCertificate=true
    username: sa
    password: jCpt75Hl
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  thymeleaf:
    cache: false
